<div *ngIf="boleta">
    <h2>Consulta de la boleta # {{boleta.idBoleta}} </h2>
    <div><span>Fecha y Hora: </span>{{boleta.fechaHora}}</div>
    <div><span>Asunto Detallado: </span>{{boleta.asuntoDetallado}}</div>
    <div><span>Descripción: </span>{{boleta.descripcion}}</div>
    <div><span>Estado: </span>{{boleta.estado}}</div>
    <div><span>Nombre: </span>{{boleta.Nombre}}</div>
    <div><span>Apellidos: </span>{{boleta.apellidos}}</div>
    <div><span>Correo: </span>{{boleta.correo}}</div>
</div>
