<body>
    <div class="main-div">
    <mat-card class="example-card">
        <mat-card-title>Bienvenido al Servicio Legal</mat-card-title><br>
        <mat-card-title>Inicio de Sesión</mat-card-title><br>
        <div class="row"  *ngIf="showMsgError">
            <p class="alert alert-danger">
              <strong>Error: </strong>El usuario o la contraseña no corresponden.
            </p>
        </div>
        <div class="row"  *ngIf="showMsgRegistration">
          <p class="alert alert-success">
            <strong>Excelente: </strong>Se registró correctamente.
          </p>
      </div>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()" #formDir="ngForm">
                  <div class="form-group row">
                    <div class="margin">
                      <input class="form-control" type="text" formControlName="email" placeholder="Correo Electrónico" autocomplete="off">
                    </div><br>
                    <span class="text-danger" *ngIf="loginForm.hasError('required', 'email') && formDir.submitted">
                      El correo es requerido.
                    </span>
                    <span class="text-danger" *ngIf="loginForm.hasError('email', 'email') && formDir.submitted">
                        @ es requerido.
                      </span>
                  </div><br>
            
                  <div class="form-group row">
                    <div class="margin">
                      <input class="form-control" type="password" formControlName="password" placeholder="Contraseña" autocomplete="off">
                    </div><br>
                    <span class="text-danger" *ngIf="loginForm.hasError('required', 'password') && formDir.submitted">
                      La contraseña es requerida.
                    </span>
                    <span class="text-danger" *ngIf="loginForm.hasError('pattern', 'password') && formDir.submitted">
                        Solo se permiten letras y números, con un rango de 5 a 15 dígitos.
                    </span>
                  </div><br>
              
                  <div class="form-group">
                    <button type="submit" style="background-color: teal; color: white;" class="btn btn-default">Iniciar Sesión</button>
                  </div>
            </form>
            
        </mat-card-content>
      </mat-card>
    </div>
  </body>