<nav>
    <ul>
      <li><a href="/administrador">Consultas</a></li>
      <li><a>Reportes</a>
        <ul>
          <li><a href="/reportes">Detallado</a></li>
          <li><a href="/reportes-auditorias">Auditorías</a></li>
          <li><a href="/reportes-fechas">Rango por Fechas</a></li>
          <li><a href="/reportes-mensual-departamento">Total Mensual</a></li>
        </ul>
      </li>
      <li><button mat-icon-button aria-label="Cerrar Sesión">
        <mat-icon (click)="salir()" style="color: white;">exit_to_app</mat-icon>
      </button></li>
    </ul>
  </nav>
  <br>

  <div style="display: inline-flex; margin: 0 auto;">
    <button mat-raised-button style="background-color: green; color: white; margin: 20px;" (click)="exportarExcel()"> Excel </button>
    <button  mat-raised-button style="color: white; margin: 20px;" color="warn" (click)="exportarPDF()"> PDF </button>
  </div>
  
  <form [formGroup]="queryForm" (ngSubmit)="filtrar()" #formDir="ngForm" style="display: inline-flex; margin: 0 auto;">
    
    <label>Fecha Desde: </label><input style="margin-left: 20px; width: 200px;" class="form-control" type="date" formControlName="fechaDesde">
    <label style="margin-left: 20px;">Fecha Hasta: </label><input style="margin-left: 20px; width: 200px;" class="form-control" type="date" formControlName="fechaHasta">

    <button style="margin-left: 25px;" type="submit" mat-raised-button color="accent">Filtrar</button>
  </form>
  
  
  <mat-divider></mat-divider><br>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="idBoleta">
        <th mat-header-cell *matHeaderCellDef> # Boleta </th>
        <td mat-cell *matCellDef="let element"> {{element.idBoleta}} </td>
      </ng-container>
  
      <ng-container matColumnDef="idUsuario">
        <th mat-header-cell *matHeaderCellDef> ID Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fechaHoraBoleta">
        <th mat-header-cell *matHeaderCellDef> Fecha Boleta </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaHoraBoleta}} </td>
      </ng-container>
  
      <ng-container matColumnDef="asuntoDetallado">
        <th mat-header-cell *matHeaderCellDef> Asunto Detallado </th>
        <td mat-cell *matCellDef="let element"> {{element.asuntoDetallado}} </td>
      </ng-container>
  
      <ng-container matColumnDef="clasificador">
        <th mat-header-cell *matHeaderCellDef> Clasificador </th>
        <td mat-cell *matCellDef="let element"> {{element.clasificador}} </td>
      </ng-container>
  
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombreAdministrador">
        <th mat-header-cell *matHeaderCellDef> Administrador </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreAdministrador}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Departamento">
        <th mat-header-cell *matHeaderCellDef> Departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.Departamento}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fechaHoraRespuesta">
        <th mat-header-cell *matHeaderCellDef> Fecha Respuesta </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaHoraRespuesta}} </td>
      </ng-container>
  
      <ng-container matColumnDef="detalleRespuesta">
        <th mat-header-cell *matHeaderCellDef> Respuesta </th>
        <td mat-cell *matCellDef="let element"> {{element.detalleRespuesta}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div><br><br>
  <mat-divider></mat-divider>
  <br />
<br />
<br />

<div class="col-7">
  <div class="chart-wrapper" *ngIf="chart"> 
    <canvas id="canvas">
      {{chart}}
    </canvas>
  </div>
</div>

<br />
<br />
<br />